{% extends "base.html" %}

{% block content %}
<h1>About Us</h1>
<br>
<h2>This is from template</h2>
<p>{{ data }}</p>
{% endblock %}

{% block content_demo %}
{{ request.user }}
<p>User Count: {{ number }}</p>
<br>
<p>Loop via template</p>
<ul>
    {% for items in count %}
        {% if items == 595 %}
            <li>{{ forloop.counter }} - {{ items | add:"2" }}</li>
        {% elif items == "Abc" %}
            <li>ANything Random</li>
        {% else %}
            <li>{{ items }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
